<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tangcan0823.mintia_omiyagego">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Add this line if you need only READ access -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Add this line if you need both READ/WRITE access -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.tangcan0823.mintia_omiyagego.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/DrawerLayoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity"/>
        <activity android:name=".CommentActivity"></activity>
        <service android:name="com.kii.cloud.analytics.EventUploadService" />

    </application>

</manifest>