<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tangcan0823.mintia_omiyagego">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Add this line if you need only READ access -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Add this line if you need both READ/WRITE access -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.tangcan0823.mintia_omiyagego.HomeVideo"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".CommentActivity" />

        <service android:name="com.kii.cloud.analytics.EventUploadService" />

        <!-- *** add following lines *** -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.tangcan0823.mintia_omiyagego" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".RegistrationIntentService"
            android:exported="false" />
        <!-- *** up to this point *** -->


        <activity android:name=".MainActivity"/>
        <activity android:name=".MemberActivity"/>
        <activity android:name=".DetailActivity.DetailActivity"/>
        <activity android:name=".DetailActivity.Activity_f1"/>
        <activity android:name=".DetailActivity.Activity_f2"/>
        <activity android:name=".DetailActivity.Activity_f3"/>
        <activity android:name=".DetailActivity.Activity_f4"/>
        <activity android:name=".DetailActivity.Activity_f5"/>
        <activity android:name=".DetailActivity.Activity_f6"/>
        <activity android:name=".DetailActivity.Activity_k0"/>
        <activity android:name=".DetailActivity.Activity_k1"/>
        <activity android:name=".DetailActivity.Activity_k2"/>
        <activity android:name=".DetailActivity.Activity_k3"/>
        <activity android:name=".DetailActivity.Activity_k4"/>
        <activity android:name=".DetailActivity.Activity_k5"/>
        <activity android:name=".DetailActivity.Activity_k6"/>
        <activity android:name=".DetailActivity.Activity_k7"/>
        <activity android:name=".DetailActivity.Activity_k8"/>
        <activity android:name=".DetailActivity.Activity_o0"/>
        <activity android:name=".DetailActivity.Activity_o1"/>
        <activity android:name=".DetailActivity.Activity_o2"/>
        <activity android:name=".DetailActivity.Activity_o3"/>
        <activity android:name=".DetailActivity.Activity_o4"/>
        <activity android:name=".DetailActivity.Activity_o5"/>
        <activity android:name=".DetailActivity.Activity_o6"/>
        <activity android:name=".DetailActivity.Activity_o7"/>


    </application>

</manifest>